<div class='container-fluid create-message-box-container h-25 p-3 fixed-bottom'>
  <div class='input-group create-message-box'>
    <label for='titleInput'>Title</label>
    <input type='text' class='form-control create-message-title' placeholder='Titolo del tuo messaggio...' aria-label='Title' id='titleInput'/>
    <label for='messageInput'>Message</label>
    <textarea class='form-control create-message-text' aria-label='Il tuo messaggio...' id='messageInput'></textarea>
    <label for='usernameInput'>Username</label>
    <input type='text' class='form-control create-message-username' placeholder='Username che vuoi mostrare...' aria-label='Username' id='usernameInput'/>
    <label for='emailInput'>Email</label>
    <input type='email' class='form-control create-message-email' placeholder='Email dove ti possiamo contattare...' aria-label='Email' aria-describedby='emailHelp' id='emailInput'/>
    <small id="emailHelp" class="form-text text-muted">Non condivideremo mai la tua mail.</small>
  </div>
</div>
