{% load context_tags %}

<div class='container-fluid position-fixed fixed-bottom create-message-box-container p-3 fixed-bottom create-message-container'>
  <form action="{% url 'thought-board' %}" method="POST">
    {% csrf_token %}
    <div class='form-group create-message-box'>
      <label for='messageInput'>Messaggio</label>
      <textarea class='form-control create-message-text' name='messageInput' aria-label='Il tuo messaggio...' id='messageInput' required></textarea>
    </div>
    <div class="d-flex">
      <div class='form-group create-message-box pr-2 w-50'>
        <label for='usernameInput'>Nome</label>
        <input type='text' class='form-control create-message-username' name='username' placeholder='Il tuo nome...' aria-label='Username' id='usernameInput' required/>
      </div>
      <div class='form-group create-message-box pl-2 pr-2 w-50'>
        <label for='numberInput' class='input-number-label'>Età</label>
        <span class="input-number">
          <input type='number' class='form-control create-message-email' name='age' placeholder='La tua età...' aria-label='Età' aria-describedby='numberInput' id='numberInput' min="0" max="130" required/>
        </span>
      </div>
      <div class="form-group align-self-end fit-content">
        <button type="submit" class="btn btn-primary pl-2">Invia</button>
      </div>
    </div>
  </form>
</div>
