<div class="modal fade" id="audioResponseModal" aria-labelledby="audioResponseModal" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Messaggio inviato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Grazie! <br/> Il tuo messaggio è stato inviato, tieni d'occhio i nuovi video, potresti essere la voce di Eugenio!</p>
      </div>
    </div>
  </div>
</div>
