<div class="modal fade" id="audioInfo" aria-labelledby="audioInfoLabel" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Istruzioni</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body {% if error %} text-danger {% endif %}">
        <p>
          Ci sono solo due semplici regole da seguire:
          <ul>
            <li>cerca di essere sintetico, un audio non più lungo di 30 secondi;</li>
            <li>parla di sostenibilità: puoi incitare all'uso della bicicletta, analizzare l'inquinamento esistente nell'aria e nel mare, la plastica, le specie in via di estinzione, il riscaldamento globale...insomma, un messaggio in accordo con gli obiettivi dell'<a href='https://unric.org/it/agenda-2030/' target="external">Agenda 2030 dell'ONU!</a>!</li>
      </p>
      </div>
    </div>
  </div>
</div>
