<div class="modal fade" id="boardInfo" aria-labelledby="boardInfoLabel" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Istruzioni</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body {% if error %} text-danger {% endif %}">
        <p>In questa sezione puoi scrivere un tuo pensiero: puoi salutarmi e mostrarmi affetto e vicinanza lungo il viaggio.
          <br/>
          <br/>
          Puoi anche esprimere un tuo pensiero sulla sostenibilità, in accordo con gli obiettivi dell'<a href='https://unric.org/it/agenda-2030/' target="external">Agenda 2030 dell'ONU!</a></p>
      </div>
    </div>
  </div>
</div>
