SECRET_KEY=<Django-secret-key>

POSTGRES_DB_NAME=<POSTGRES_DB_NAME>
POSTGRES_DB_USER=<POSTGRES_DB_USER>
POSTGRES_PASSWORD=<POSTGRES_DB_PASSWORD>

POSTGRES_SERVICE=postgres
POSTGRES_PORT=5432

PGDATA=/var/lib/postgresql/data

DEBUG=True
