{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-block-inline mt-3">
  <div class="background">
    <img src="{% static 'images/background.jpg' %}" class="background-image"/>
  </div>
  <div class="contents">
    <h4 class="bok-title">
      Ciao,
    </h4>
    <p class="bok-description">
      mi chiamo Simone Boccardelli anche se tutti mi chiamano "il maestro Bok": ho 29 anni, romano di anagrafe ma cittadino del mondo, alla ricerca continua di nuove avventure.
      Attualmente vivo a Melzo (Milano) ed insegno nell'Istituto Comprensivo Ungaretti.
      Esuberante sin dalla nascita, non mi sono mai posto limiti sulla ricerca dell'io e sulla scoperta del mondo, combinando diverse marachelle da bambino e affrontando numerose sfide (in solitaria) da grande...quante gliene ho fatte passare alla mia mamma, aspettandomi a casa in ansia!
      Ed è nel corso di uno dei miei ultimi viaggi che è nato il mio amore per il cicloviaggio: un modo di spostarsi lento, dove si scoprono paesaggi e culture meravigliose, persone uniche che ti restano nel cuore.
      È si, è proprio bello pedalare: quando si è in viaggio si ha molto tempo per pensare, un'esperienza spirituale in cui si scava affondo nel proprio io, si ha modo di riflettere sul passato ma anche sul presente e sul futuro che verrà.
      Ed è proprio pensando al futuro che un giorno, mentre pedalavo, mi è venuta in mente la brillante idea di combinare le mie due passioni: l'educazione e il cicloviaggio, per creare un progetto dove si potesse creare un servizio per la comunità.
      È passato molto tempo da quando ebbi quei pensieri e dopo molto lavoro e sacrificio eccomi qua, a presentarvi cosa pensa un cicloviaggiatore mentre pedala.
      Non vi resta che seguirmi in questa nuova avventura, E SI VA, pedalando con Eugenio Cane!
    </p>
  </div>
</div>
{% endblock %}
