{% extends 'base.html' %}

{% load context_tags %}

{% block content %}
  <div class='container-fluid h-100 p-3 board-page'>
    {% for message in THOUGHT_MESSAGES %}
      <div class='message-container d-flex flex-column w-80
        {% if forloop.counter|divisibleby:2 %}
          align-items-end
        {% else %}
          align-items-start
        {% endif %}'>
        <div class="pt-2">
          {{ message.text }}
        </div>
        <div class="font-weight-light pt-2">
          {{ message.user }}
        </div>
      </div>
    {% endfor %}
  </div>
  {% include 'includes/create_message.html' %}

  {% if form_response %}
    {% include 'includes/modals/form_response.html' %}
  {% endif %}
{% endblock %}
