{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="homepage-container">
    <div class="background">
      <img class="background-image" src="{% static 'images/background.jpg' %}"/>
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center content-container">
      <div class="content-title bok-title text-center p-3">
        <h2>E SI VA!<br/>Pedalando con Eugenio Cane</h2>
      </div>
      <div class="content-description bok-description text-center p-3">
        E SI VA...PEDALANDO CON EUGENIO CANE!<br>
        Da Melzo a Capo Nord in bici
        <br/>
        <br/>
        Un viaggio ecosostenibile ai confini del mondo: 5000 chilometri e oltre 90.000 metri di dislivello, varcando i confini di Svizzera, Francia, Germania, Danimarca, Svezia e Norvegia.<br />
        Un percorso sorprendente che attraversa il cuore dell'Europa tra fiumi, montagne, fiordi e città incantevoli, documentate dai bambini della scuola primaria.
        <br/>
        <br/>
        Eugenio Cane ha un sogno: "se sono in grado di pedalare da Melzo oltre il Circolo Polare Artico, chiunque può usare la bicicletta anche solo per stare in città e respirare così un'aria più pulita!<br />
        Io e il maestro Bok ci crediamo, e voi? Dai, forza, E Si VA!"
      </div>

      <div class="d-flex flex-column align-self-start bok-adventure-cta">
        <div class="bok-adventure-title bok-title ml-3">
          Segui Eugenio Cane nella sua avventura!
        </div>
        <div class="bok-adventure-description bok-description m-3">
          Scopri le varie città che ha attraversato e dove si trova ogni giorno.
        </div>
        <div class="bok-adventure-button m-3">
          <a href='{% url "map-bok" %}' class="btn btn-primary">
            Vai alla Mappa
          </a>
        </div>
      </div>

      <div class="d-flex flex-column align-self-end bok-adventure-cta">
        <div class="bok-adventure-title bok-title ml-3 text-right">
          Aiuta Eugenio Cane a sostenere le spese del viaggio!
        </div>
        <div class="bok-adventure-description bok-description m-3 text-right">
          Scopri di più sulla nostra raccolta fondi su GoFundMe.
        </div>
        <div class="bok-adventure-button mt-3">
          <a href='https://gofund.me/15f736be' class="btn btn-primary">
            GoFundMe
          </a>
        </div>
      </div>

      <div class="content-quote text-center mb-3">
        <q>
          Sì, tutto è possibile,<br />
          perfino credere<br />
          che possa esistere<br />
          un mondo migliore!
        </q>
        <br/>
        <cite>Vasco Rossi</cite>
      </div>
    </div>

    {% include 'includes/fly-logo.html' %}
  </div>
{% endblock %}
