{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="homepage-container">
    <div class="background-image-container">
      <img class="background-image" src="{% static 'images/background-world-map.jpeg' %}"/>
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center content-container">
      <div class="content-title text-center p-3">
        <h2>E SI VA!<br/>Pedalando con Eugenio Cane</h2>
      </div>
      <div class="content-description text-center p-3">
        E SI VA...PEDALANDO CON EUGENIO CANE!
        Da Melzo a Capo Nord in bici
        <br/>
        <br/>
        Un viaggio ecosostenibile ai confini del mondo: 5000 chilometri e oltre 90.000 metri di dislivello, varcando i confini di Svizzera, Francia, Germania, Danimarca, Svezia e Norvegia.
        Un percorso sorprendente che attraversa il cuore dell'Europa tra fiumi, montagne, fiordi e città incantevoli, documentate dai bambini della scuola primaria.
        <br/>
        <br/>
        Eugenio Cane ha un sogno: "se sono in grado di pedalare da Melzo oltre il Circolo Polare Artico, chiunque può usare la bicicletta anche solo per stare in città e respirare così un'aria più pulita!
        Io e il maestro Bok ci crediamo, e voi? Dai, forza, E Si VA!"
      </div>

      <div class="content-quote text-center p-3 mb-3">
        <q>Sì, tutto è possibile, perfino credere che possa esistere un mondo migliore!</q>
        <br/>
        <cite>Vasco Rossi</cite>
      </div>
    </div>

    {% include 'includes/fly-logo.html' %}
  </div>
{% endblock %}
