{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="live-container">
    <div class="background">
      <img src="{% static 'images/background.jpg' %}" class="background-image"/>
    </div>
    <div class="contents container d-flex justify-content-center">
      {% if YOUTUBE_VIDEO %}
        <iframe class="youtube-iframe" src="https://www.youtube.com/embed/{{ YOUTUBE_VIDEO.video_id }}" title="{{ YOUTUBE_VIDEO.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% else %}
        <div class="bok-title p-3 text-center">
          Ciao, al momento non sono live, mi potrai trovare qui e su <a href="https://www.youtube.com/channel/UCYRh96N64WQp-F8BbFwD2yA" target="_blank">YouTube</a> tutti i giorni alle 13.30!
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
