{% extends 'base.html' %}
{% load static %}

{% block head %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
  <main role="main" class="flex-shrink-0" id="homepage">
    <div id='map' class="vw-100"></div>
  </main>
{% endblock %}

{% block script %}
  <script>
    mapboxgl.accessToken = "{{ MAPBOX_TOKEN }}";
    window.locations = JSON.parse('{{ LOCATIONS|safe }}');
    window.road = JSON.parse('{{ ROAD|safe }}');
    window.livePoint = JSON.parse('{{ LIVE_POINT|safe }}');
    {% if only_bok %}
      window.onlyBok = true;
    {% else %}
      window.onlyBok = false;
    {% endif %}
  </script>
  <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
