.donation-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: ~'calc(100vh - 56px)';

  .donation-background {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;

    .donation-background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .5;
    }
  }

  .donation-content-container {
    position: relative;
    min-height: ~'calc(100vh - 56px)';

    .donation-content {
      height: fit-content;

      h3 {
        .font-32();
        font-weight: 600;
      }

      p, ul {
        .font-20();
        font-weight: 500;
      }
    }
  }
}
