.dog-life-container {
  position: relative;
  min-height: 100vh;

  .dog-life-separator {
    min-height: 200px;
  }

  .audio-not-supported {
    opacity: 0.2;
    pointer-events: none;
  }
}

.dog-life-info-container {
  position: absolute;
  top: 60px;
  right: 0;
  width: fit-content;
  height: fit-content;

  z-index: 10;

  svg {
    fill: #007bff;
  }

  &:hover svg {
    fill: #004bcf;
  }
}
